<div class="background">
	<div class="container py-5">
		<div class="row h-100 align-items-center py-5">
			<div class="col-lg-6 back-card">
				<h1 class="display-4 text-white">Contactos</h1>
				<p class="lead  mb-0 text-white">Alcaldía de Cochabamba</p>
			</div>
		</div>
	</div>
</div>
<div class="bg-white py-5">
	<div class="container py-5">
		<div class="row align-items-center mb-5">
			<div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
				<h2 class="font-weight-light">Misión</h2>
				<p class="font-italic text-muted mb-4">Satisfacer las necesidades y aspiraciones de desarrollo de la
					población del municipio de Cochabamba, direccionando los servicios públicos municipales hacia la
					elevación de su calidad de vida, en un entorno de transparencia, eficacia, eficiencia, calidad y
					oportunidad.</p>
			</div>
			<div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="../../assets/escudo-GAMC-vertical.png"
					alt="" class="img-fluid mb-4 mb-lg-0">
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col-lg-5 px-5 mx-auto"><img src="../../assets/img/cap-manfred-reyes-villa.jpeg" alt=""
					class="img-fluid mb-4 mb-lg-0"></div>
			<div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
				<h2 class="font-weight-light">Visión</h2>
				<p class="font-italic text-muted mb-4">Ser un Gobierno Autónomo Municipal eficiente, participativo, que
					articule el trabajo de la sociedad cochabambina para convertir a Cochabamba en un hogar, seguro,
					próspero, limpio, competitivo, atractivo a las inversiones, con infraestructura en armonía con la
					naturaleza y con una población integrada e identificada con su municipio, en un entorno
					organizacional humano eficaz y transparente.</p>
			</div>
		</div>
	</div>
</div>